html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url("img/background.png");
	background-attachment: fixed;
    font-family: "Helvetica Neue",Arial,sans-serif;
}


#wrapper {
	margin: 0 auto;
	width: 920px;
	box-shadow: 0 0 10px #000000;
	position: relative;
	background: url('img/wash-white-30.png');
}

#header {
	background-image: url("img/sprite_bgs.png");
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    height: 40px;
    position: absolute;
    z-index: 10;
	width: 100%;
}

#logo {
    color: #CCCCCC;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
    background: url("img/logo.png") no-repeat left center;
    background-size: 4%;
}

#main {
	padding: 40px 20px 20px 20px;
	overflow: hidden;
}

#left {
	width: 300px;
	float: left;
}

#right {
	width: 520px;
	float:right;
}

.content {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 15px 10px 10px 10px;
	box-shadow: 0 0 1px #000;
	background-color: #ffffff;
}

#left div {
	cursor: pointer;
	padding: 5px 25px 5px 60px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	background-image: url('img/arrow.png'); 
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
}

#left div span{
	color: #AAA;
	font-size: 20px;
	padding-top: 12px;
	float: left;
	font-weight: bold;
}

#left div:HOVER {
	background-color: #F6F6F6;
	/*background-image: url('img/arrow_active.png'); */
}

#left div:HOVER span{
	color: #333333;
}

#left .active {
	background-color: #EEEEEE;
	background-image: url('img/arrow_active.png'); 
}

#left .active span{
	color: #333333;
}

#left div img{
	margin-left: -55px;
	float: left;
	border-radius: 5px;
	width: 48px;
	height: 48px;
}

#userinfo {
	background-image: url('img/grey_header_web.png');
	background-color: #444444;
    background-repeat: no-repeat;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 260px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    border-radius: 5px;
}

.profile-picture {
    background-color: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    display: block;
    height: 73px;
    margin: 20px auto 6px;
    position: relative;
    width: 73px;
    z-index: 5;
    background: url('img/loading2.gif') no-repeat center center #FFFFFF;
}

.profile-picture :HOVER {
	box-shadow: 0 1px 1px rgba(255, 255, 255, 255.25);
}

.profile-card {
    float: none;
    margin: auto;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    width: 85%;
    color: #FFFFFF;
    font-size: 24px;
    font-family: Arial,sans-serif;
}

.profile-field {
	font-weight: bold;
}

.bio, .location, .url {
	font-size: 14px;
}

.profile-card a {
	color: #FFFFFF;
	text-decoration: none;
}

.profile-card a:HOVER {
	text-decoration: underline;
}

#pag {
	text-align: center;
}

#pag span{
	margin: 0 3px;
	cursor: pointer;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

#pag span:HOVER{
	text-decoration: underline;
}

#pag .no-active{
	color: #999999;
}






#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('img/wash-white-30.png');
	text-align: center;
}




#jstwitter {
    font-size: 15px;
    color: #333333;
    margin: 10px;
    min-height: 30px;
    position: relative;
}
 
#jstwitter .tweet {
    margin: 0 auto 15px auto;
    padding: 0 0 15px 60px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}
 
#jstwitter .tweet a {
    text-decoration: none;
    color: #13c9d0;
}
 
#jstwitter .tweet a:hover {
    text-decoration: underline;
}

#jstwitter .tweet img {
	width: 48px;
	height: 48px;
	border-radius: 5px;
	float: left;
	margin-left: -55px;
}
 
#jstwitter .tweet .time {
    font-size: 10px;
    font-style: italic;
    color: #666666;
    margin-top: 2px;
}